*.out
*.o
*.txt
*.exe
*.data
*.png
.DS_Store

# Regularized linear model regression
output/
linear_regression

# Naive Bayes classifier
mnist/
naive_bayes_classifier

# Online learning
output/
online_learning
